body {
    background-color: rgba(0, 140, 255, 0.23);
    text-align: center;
}
h1 {
    color: rgb(0, 140, 255);
}
#canvas {
    border: 5px solid rgb(0, 140, 255);
    height: 500px;
    width: 900px;
    margin-bottom: 2em;
}
#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
#color1, #color2, #color3 {
  cursor: pointer;
  border: 2px solid rgb(0, 140, 255);
}
#vol-slider {
    cursor: grab;
}
#vol-slider:active {
    cursor: grabbing;
}
button {
    cursor: pointer;
    background-color:rgb(0, 140, 255);
    color: white;
    border: 2px solid rgb(0, 140, 255);
}
#input {
    border: 2px solid rgb(0, 140, 255);
}